<!-- Не стал выносить в отдельные компоненты, тк приложение маленькое-->
<div class="card" *ngFor="let patient of patientsAppointments$ | async">
  <div class="card__title">{{ patient.name[0] | patientName }}</div>
  <div>Gender: {{ patient.gender || '-' }}</div>
  <div>Birth Date: {{ patient.birthDate || '-' }}</div>
  <div class="appointments-info">
    <div>Appointment Count: {{ patient.patientAppointments.length }}</div>
    <div>All Records:</div>
    <ul>
      <li *ngFor="let appointment of patient.patientAppointments">
        <span>Starts: {{ appointment.start | date }}</span>
        <span>Description: {{ appointment.description || '-' }}</span>
      </li>
    </ul>
  </div>
</div>
